#header-search {
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-right: 120px;
    background-color: #F4FFF8;
    text-align: center;
    padding-left: 120px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}