#header-search {
    border-radius: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 150px;
    background-color: #F4FFF8;
    padding-left: 150px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}