body
    color: #000F08

.searchApp
    a
        text-decoration: none
        color: #000000
    h2
        text-align: center
        margin-top: 20px
    input.input
        width: 100%
        height: 50px
        margin: 20px 0px
        font-size: 17px
        padding-left: 20px
    .card
        display: flex
        flex-direction: column
        align-items: center
        p
            margin: 10px 0px
        img
            width: 400px
    .resultCard
        margin: 15px
        text-align: center
        padding: 20px
        box-shadow: 8px 7px 13px 0px #8BAAAD
        border: 1px solid #F4FFF8
        background-color: #4D4847
    .result
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-around
    figure.image
        padding-bottom: 15px
    .poster
        width: 200px

.bolder
    font-weight: 800

.stream


    
.movieDetails   
